body
{
    background-color: rgb(180, 39, 39);
    align-items: center;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    transition-timing-function: linear;
    animation: fadein 2s;
}

@keyframes fadein {
    from {opacity:0; }
    to {opacity: 1;}
}

.link
{
    display: flex;
    margin-left: 35%;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}

.links
{
    width:90%;                          
    display: flex;               
    background-color: rgb(177, 135, 80);  
    border-style: solid;       
    border-width:2px;   
    border-color: rgb(141, 113, 76);  
    border-radius: 30px;
    margin: 20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.text
{
    display: flex;
    margin-left: 5%;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.rodape
{
    width: 95%;
    display: flex;
    padding: 10px;
    background-color: rgb(112, 18, 26);
    justify-content: space-between;
    position:fixed;
    bottom:0;
}

.listagem{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: rgb(177, 135, 80);
    border-color:rgb(141, 113, 76);
    border-radius: 20px;
    width: 300px;
    box-shadow: 1px 1px rgb(114, 93, 65);
    border-style: solid;
    border-color: rgb(141, 113, 76);
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10%;
}

.linha{
    display: flex;
    flex-direction: row;
    
}

.codigo{
    padding: 2px;
    background-color: rgb(177, 135, 80);
    width: 20px;
    text-align: center;
}

.produto{
    padding: 2px;
    background-color: rgb(177, 135, 80);
    width: 180px;
    text-transform: uppercase;
}
.preco{
    padding: 2px;
    background-color: rgb(177, 135, 80);
    width: 40px;
    text-align: center;
}

.lista
{
    background-color: rgb(177, 135, 80);
    border-color:rgb(141, 113, 76);;
    border-radius: 20px;
}

.botao
{
    background-color: rgb(177, 135, 80);
    border-color:rgb(141, 113, 76);;
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 2%;
}

.int
{
    margin-left: 5%;
}

.nome
{
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
    margin-left: 10%;
}

.cod
{
margin-left: 5%;
}

.pro
{
    margin-left: 5%;
}

.pre
{
    margin-left: 20%;
}

.x
{
    height: 5px;
}